<!-- <div class="card">


  <div class="card-header text-center">
    Gregorian To Hijri Convertor
  </div>


  <div class="card-body">
    
  </div>

</div> -->
<div class="card">
  <!-- <div class="container">
    <div class="info">
      <p>Get <span class="key-word">insights</span> that help your business grow.</p>
      <p>
        Discover the benefits of data analytics and make better decisions regarding revenue, customer
        experience, and overall efficiency.
      </p>
      <div class="stats">
        <div>10k+ <span>companies</span></div>
        <div>314 <span>templates</span></div>
        <div>12m+ <span>queries</span></div>
      </div>
    </div>
    <div class="main-img">
    </div>
  </div> -->
  <div class="card-body">
    <div class="row">
      <div class="col-7">
        <label class="gregorian-label">Gregorian Date</label>
        <input id="shit" class = "gregorian-date-picker" type="date" value={{gregorianDate}} [(ngModel)]="gregorianDate" (change)="gregorianToHijri()">
        <label class="hijri-label">Hijri Date</label>
        <input class="hijri-date" readonly type="text" value={{hijriDate}}>
      </div>

      <div class="col-5">

      </div>
    </div>
  </div>
</div>