<div class="card">
  <div class="card-body">
    <div class="row">

      <div class="col-7">
        <label class="gregorian-label">Gregorian Date</label>
        <input id="shit" class = "gregorian-date-picker" type="date" value={{gregorianDate}} [(ngModel)]="gregorianDate" (change)="gregorianToHijri()">
        <label class="hijri-label">Hijri Date</label>
        <input class="hijri-date" readonly type="text" value={{hijriDate}}>
      </div>

      <div class="col-5">
      </div>

    </div>
  </div>
</div>